<!--The content below is only a placeholder and can be replaced.-->
<div>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/about">DGF Scouting</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a id="menuRecruits" class="nav-item nav-link" href="/recruits">Recruits <span class="sr-only">(current)</span></a>
                <a id="menuAddRecruit" class="nav-item nav-link" href="/addrecruit">Add Recruit</a>
                <a id="menuRecruitDetail" class="nav-item nav-link" href="/recruits">Recruit Details</a>
                <a id="menuAccounts" class="nav-item nav-link" href="/accounts" visible="false" runat="server">Accounts</a>
                <a id="menuLogout" class="nav-item nav-link float-right" href="/">Logout</a>
            </div>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>
<div>
    <footer class="page-footer font-small text-grey">
        <div class="footer-copyright text-center py-3">© 2018 Copyright: DGF Scouting</div>
    </footer>
</div>