<div class="container">
  <h1 class="display-2 text-center">{{ title }}</h1>
  <form class="form">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label id="lblUsername" for="txtUsername">Username</label>
            <input [ngModel]="user.username | lowercase" value="{{user.username}}" (ngModelChange)="user.username=$event" name="username" ID="txtBoxUsername"
              class="form-control" readonly>
          </div>
          <div class="form-group col-md-4">
              <label id="lblDisplayName" for="txtDisplayName">Display Name</label>
              <input [ngModel]="user.displayName | lowercase" (ngModelChange)="user.displayName=$event" value="{{user.displayName}}" name="displayname" ID="txtBoxDisplayName"
                class="form-control" readonly>
            </div>
          <div class="form-group col-md-4">
            <label id="lblEmail" for="txtBoxLastName">Email</label>
            <input [ngModel]="user.email | lowercase" (ngModelChange)="user.email=$event" value="{{user.email}}" name="email" ID="txtEmail"
              class="form-control" readonly>
          </div>
    </div>
    <div class="form-row">
           <div class="form-group col-md-6">
            <label id="lblAccountType" for="txtBoxAccountType">Account Type</label>
            <input [ngModel]="user.accountType | lowercase" (ngModelChange)="user.accountType=$event" value="{{user.accountType}}" name="accounttype" ID="txtAccountType"
              class="form-control" readonly>
          </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <a ID="BtnUpdate" class="btn btn-outline-dark" routerLink="/updateaccount/{{ user._id }}"><i class="fas fa fa-pencil-alt"></i> Update</a>
            <a *ngIf='current.accountType === "Admin"' ID="BtnBack" class="btn btn-outline-dark" routerLink="/accounts"><i class="fas fa fa-undo"></i> Back</a>
            <a *ngIf='current.accountType !== "Admin"' ID="BtnBack" class="btn btn-outline-dark" routerLink="/about"><i class="fas fa fa-undo"></i> Back</a>            
          </div>
    </div>
  </form>
</div>
