<div class="container">
  <h1 class="display-2 text-center">{{ title }}</h1>
  <form class="form" (submit)="onAccountPageSubmit()">
      <div class="form-row">
          <div class="form-group col-md-4">
              <label id="lblUsername" for="txtUsername">Username</label>
              <input [(ngModel)]="user.username" value="{{user.username}}" name="username" ID="txtUsername" type="text" placeholder="username" required #username="ngModel"
                class="form-control">
                <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                    <div *ngIf="username.errors.required">
                        Username is required.
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label id="lblDisplayName" for="txtDisplayName">Display Name</label>
                <input [(ngModel)]="user.displayName" value="{{user.displayName}}" name="displayName" ID="txtDisplayName" type="text" required #display="ngModel" placeholder="display name"
                  class="form-control">
                  <div *ngIf="display.invalid && (display.dirty || display.touched)" class="alert alert-danger">
                      <div *ngIf="display.errors.required">
                          Display name is required.
                      </div>
                  </div>
              </div>
            <div class="form-group col-md-4">
                <label id="lblPassword" for="txtPassword">Password</label>
                <input [(ngModel)]="user.password" value="{{user.password}}" name="password" ID="txtPassword" type="password" placeholder="password" required #password="ngModel"
                  class="form-control">
                  <!-- Password must contain one letter, one number and be longer than six characters -->
                  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                      <div *ngIf="password.errors.required">
                          Password is required.
                      </div>
                  </div>
            </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-6">
              <label id="lblEmail" for="txtEmail">Email</label>
              <input [(ngModel)]="user.email" value="{{user.email}}" name="email" ID="txtEmailAddress" type="text" placeholder="email address" required email #email="ngModel"
                class="form-control">
                <!-- REGEX to ensure format matches user@domain.com -->
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                    <div *ngIf="email.errors.required">
                        Email is required.
                    </div>
                    <div *ngIf="email.errors.email">
                        Email must be in email format "joe@gmail.com".
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label ID="lblAccountType" for="ddlAccountType">Account Type:</label>
                <select [(ngModel)]="user.accountType" value="{{user.accountType}}" name="accountType" ID="ddlAccountType" type="text" class="form-control" style="height: 36px;">
                    <option Value="None" Selected="True">None</option>
                    <option Value="Admin">Admin</option>
                    <option Value="Coach">Coach</option>
                    <option Value="Scout">Scout</option>
                </select>
              </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-6">
              <button ID="btnAddAccount" type='submit' class="btn btn-outline-dark"><i class="fa fa-arrow-circle-right"></i> Submit</button>
              <a ID="BtnCancel" class="formButton btn btn-outline-dark" routerLink="/about"><i class="fa fas fa-undo"></i> Back</a>
            </div>
      </div>
  </form>
</div>
