.btn {
    width: 100px;
    text-align: center;
    display: inline-block;
    margin: 3px;
    padding: 3px;
    background: #b62b28;
    color: white;
}

.control-label:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
    top: 1px;
}