nav {
    overflow: auto;
}

.navbar-nav>li {
    margin-left: 20px;
    margin-right: 20px;
}

img {
    height: 40px;
    align-self: center;
}

#displayName {
    pointer-events: none;
    cursor: default;
    color: #E92E36;
}

.customFooter {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
}

.footerContainer {
    width: 100%;
    text-align: center;
}