<div class="login-page">
    <div class="form">
        <div class="register-form">
            <form autocomplete="off" (submit)="onRegisterSubmit()">
                <img src="../../assets/logo.png" class="imageLogo">
                <input [(ngModel)]="user.username" name="username" type="text" placeholder="username" class="formTextbox">
                <input [(ngModel)]="user.password" name="password" type="password" placeholder="password" class="formTextbox">
                <input [(ngModel)]="user.email" name="email" type="text" placeholder="email address" class="formTextbox">
                <input [(ngModel)]="user.displayName" type="text" class="form-control" name="displayName" placeholder="Enter Display Name" id="displayName" required autocomplete="off">
                <button name="btnRegister" class="formButton"><i class="fa fa-user-plus"></i> Register</button>
                <p class="message">Already registered? <a href="/login">Sign In</a></p>
            </form>
        </div>
    </div>
</div>