<div class="login-page">
    <div class="form">
        <div class="login-form">
            <form (submit)="onLoginSubmit()" autocomplete="off">
                <img src="../../assets/logo.png" class="imageLogo">
                <input [(ngModel)]="user.username" name="username" type="text" placeholder="username" class="formTextbox">
                <input [(ngModel)]="user.password" name="password" type="password" placeholder="password" class="formTextbox">
                <button name="btnLogin" class="formButton"><i class="fas fa fa-sign-in-alt"></i> Login</button>
                <p class="message">Not registered? <a href="/registration">Create an account</a></p>
            </form>
        </div>
    </div>
</div>