<div class="container-fluid">
    <div class="row">
        <table style="margin: 10px">
            <tr>
                <td>
                    <p class="col-2 col-form-label">Position </p>
                </td>
                <td>
                    <select class="form-control">
                        <option>Forward</option>
                        <option>Defenceman</option>
                        <option>Goalie</option>
                      </select>
                </td>
                <td>
                    <p class="col-2 col-form-label">Birth Year</p>
                </td>
                <td>
                    <input type="number" class="form-control">
                </td>
                <td>
                    <p class="col-2 col-form-label">Name</p>
                </td>
                <td>
                    <input type="text" class="form-control">
                </td>
                <td>
                    <button class="btn btn-secondary" type="submit">Submit</button>
                </td>
                <td>
                    <a class="btn btn-success" type="submit" routerLink="/recruits/addrecruit">Add</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<table id="recruitTable" class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th style="text-align: center">Jersey Number</th>
            <th style="text-align: center">First Name</th>
            <th style="text-align: center">Last Name</th>
            <th style="text-align: center">Birth Year</th>
            <th style="text-align: center">Position</th>
            <th style="text-align: center">Status</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor='let recruit of recruits'>
            <td>{{recruit.jerseyNumber}}</td>
            <td>{{recruit.firstName}}</td>
            <td>{{recruit.lastName}}</td>
            <td>{{recruit.birthYear}}</td>
            <td>{{recruit.position}}</td>
            <td>{{recruit.status}}</td>
            <td>
                <a class="btn btn-primary" type="submit" routerLink="detail/{{ recruit._id }}">View</a>
            </td>
            <td>
                <a class="btn btn-warning" type="submit" routerLink="edit/{{ recruit._id }}">Edit</a>
            </td>
            <td>
                <a (click)="onDeleteClick()" class="btn btn-danger" type="submit" routerLink="/recruits/delete/{{ recruit._id }}">Delete</a>
            </td>
        </tr>
    </tbody>
</table>