<!--
<div class="container-fluid">
    <div class="row">
        <table style="margin: 10px">
            <tr>
                <td>
                    <p class="col-2 col-form-label">Position </p>
                </td>
                <td>
                    <select [(ngModel)]="selectedPosition">
                        <option *ngFor="let position of positions" [ngValue]="position">{{position.name}}</option>
                    </select>
                </td>

                    <td>
                    <p class="col-2 col-form-label">Birth Year</p>
                </td>
                <td>
                    <input [(ngModel)]="birthYear" type="number" class="form-control">
                </td>

                <td>
                    <p class="col-2 col-form-label">Name</p>
                </td>
                <td>
                    <input [(ngModel)]="name" type="text" class="form-control">
                </td>
                <td>
                    <a (click)="onSearchClick()" class="btn btn-secondary" type="submit" routerLink="/recruits"><fa name="search"></fa> Search</a>
                </td>
                <td>
                    <a class="btn btn-success" type="submit" routerLink="/recruits/addrecruit">Add</a>
                </td>
            </tr>
        </table>
    </div>
</div>
-->

<!-- Search Icon -->
<div class="form-group" style="float:left; margin: 15px; margin-right: 0px">
  <p><fa name="search"></fa></p>
</div>
<!-- Search Name Textbox -->
<div class="form-group" style="float: left; margin: 10px">
  <input type="text" class="form-control" placeholder="Search By Name" style="width:300px" [(ngModel)]="name" />
</div>

<table id="recruitTable" class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th style="text-align: center">Jersey Number</th>
      <th style="text-align: center">First Name</th>
      <th style="text-align: center">Last Name</th>
      <th style="text-align: center">Birth Year</th>
      <th style="text-align: center">Position</th>
      <th style="text-align: center">Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <tr *ngFor='let recruit of recruits | recruitFilter:name, position'>
      <td>{{recruit.jerseyNumber}}</td>
      <td>{{recruit.firstName}}</td>
      <td>{{recruit.lastName}}</td>
      <td>{{recruit.birthYear}}</td>
      <td>{{recruit.position}}</td>
      <td>{{recruit.status}}</td>
      <td>
        <a class="btn btn-primary" type="submit" routerLink="detail/{{ recruit._id }}">View</a>
      </td>
      <td>
        <a class="btn btn-warning" type="submit" routerLink="edit/{{ recruit._id }}">Edit</a>
      </td>
      <td>
        <a (click)="onDeleteClick()" class="btn btn-danger" type="submit"
          routerLink="/recruits/delete/{{ recruit._id }}">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
