/*
    Filename: add-recruit.component.css
    Date: April 3rd, 2019
    Contributors: Puckager Team
    Description: Custom CSS for Add-Recruit page - Adding a Recruit.
*/

select {
  height: 36px;
}

select {
    height: 50px;
  }

.btn {
  width: 200px;
  margin: 5px;
}

.btn:hover {
  color: #fff;
}
