/* You can add global styles to this file, and also import other style files */
body {
    background: #FFFFFF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #FFFFFF, #FFFFFF);
    background: -moz-linear-gradient(right, #FFFFFF, #FFFFFF);
    background: -o-linear-gradient(right, #FFFFFF, #FFFFFF);
    background: linear-gradient(to left, #FFFFFF, #FFFFFF);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
