<div class="container my-5">
    <div class="row">
        <div class="col-md.12">
            <h4>Accounts</h4>
            <a class="btn btn-block btn-primary col-md-2 float-right" href="/addaccount">Add Account</a>
            <div class="table-responsive">
                <table id="accountTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="text-align: center">ID</th>
                            <th style="text-align: center">User Name</th>
                            <th style="text-align: center">Password</th>
                            <th style="text-align: center">EmailAddress</th>
                            <th style="text-align: center">AccountType</th>
                            <th style="text-align: center">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="table table-bordered table-striped">
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <!--Display passwords as "***"-->
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <button Text="Update" CssClass="btn btn-block btn-primary">Update</button>
                                <button Text="Delete" CssClass="btn btn-block btn-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>