li {
    width: 100%;
    text-decoration: none;
    list-style: none;
}

span {
    margin: 10px
}

p,
li {
    font-size: 1.5em;
}

.col-form-label {
  margin-left: 10px;
  margin-right: 10px;
}

/* #recruitTable {
  width: 375px !important;
} */
