<div *ngIf="isLoggedIn()" class="container">
  <h1 class="display-2 text-center">List of Recruits</h1>
  <div class="input-group">
    <input class="form-control" type="text" placeholder="Search By Name" [(ngModel)]="name">
    <div class="input-group-append">
      <button class="btn btn-dark" type="button">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

  <div class="table-responsive-sm">
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th class="th-sm text-center align-middle">Jersey Number</th>
          <th class="th-sm text-center align-middle">First Name</th>
          <th class="th-sm text-center align-middle">Last Name</th>
          <th class="th-sm text-center align-middle">Birth Year</th>
          <th class="th-sm text-center align-middle">Position</th>
          <th class="th-sm text-center align-middle">Status</th>
          <th colspan="3" class="th-sm text-center align-middle">
            <a class="btn btn-dark btn-block" type="submit" routerLink="/recruits/addrecruit">
              <i class="fa fas fa-plus-circle"></i></a> Add a Recruit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let recruit of recruits | recruitFilter:name, position'>
          <td class="text-center align-middle">{{recruit.jerseyNumber}}</td>
          <td class="text-center align-middle">{{recruit.firstName}}</td>
          <td class="text-center align-middle">{{recruit.lastName}}</td>
          <td class="text-center align-middle">{{recruit.birthYear}}</td>
          <td class="text-center align-middle">{{recruit.position}}</td>
          <td class="text-center align-middle">{{recruit.status}}</td>
          <td colspan="3" class="text-center align-middle">
            <a class="btn btn-dark btn-block center-block" type="submit" routerLink="detail/{{ recruit._id }}"><i
                class="fa fas fa-eye"></i></a>
            <a class="btn btn-dark btn-block center-block" type="submit" routerLink="edit/{{ recruit._id }}"><i
                class="fa fas fa-edit"></i></a>
            <a (click)="onDeleteClick()" class="btn btn-dark btn-block center-block" type="submit"
              routerLink="/recruits/delete/{{ recruit._id }}"><i class="fa fas fa-trash"></i></a>
            <a (click)="onSocialClick(recruit.firstName, recruit.lastName)"
              class="btn btn-twitter btn-dark btn-block center-block" type="submit"
              routerLink="/recruits/social/{{ recruit._id }}"><i class="fa fab fa-twitter"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
