/*
    Filename: about.component.css
    Date: April 3rd, 2019
    Contributors: Puckager Team
    Description: Custom CSS for About page - landing page.
*/


/* CSS for Header */

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    margin-top: -22px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.3)), color-stop(75%, rgba(22, 22, 22, 0.7)), to(#161616)), url("../../assets/bg-masthead.jpg");
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../../assets/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.masthead h1 {
    font-family: 'Varela Round';
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(rgba(189, 195, 199, 1), rgba(207, 0, 15, 1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.masthead h2 {
    color: white;
    text-emphasis: strong;
    max-width: 20rem;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .masthead h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
}

@media (min-width: 992px) {
    .masthead {
        height: 100vh;
        padding: 0;
    }
    .masthead h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
    }
    .masthead h2 {
        max-width: 35rem;
        font-size: 1.85rem;
    }
}

.btn {
    -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
}

.btn-primary {
    background-color: rgba(72, 72, 72, 0.5);
}

.btn-primary:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

.btn-primary:focus {
    background-color: rgba(169, 169, 169, 0.5);
    color: white;
}

.btn-primary:active {
    background-color: rgba(192, 192, 192, 0.5);
}


/* CSS for Contact Info */

.row.heading h2 {
    color: rgb(72, 72, 72);
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.heading.heading-icon {
    display: block;
}

.padding-lg {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
}

.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}

.practice-area .inner {
    border: 1px solid #999999;
    text-align: center;
    margin-bottom: 28px;
    padding: 40px 25px;
}

.our-dgf .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border: 0;
}

.practice-area .inner h3 {
    color: #3c3c3c;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0;
}

.practice-area .inner p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.practice-area .inner img {
    display: inline-block;
}

.our-dgf {
    background: white no-repeat center top / cover;
}

.our-dgf .cnt-block {
    float: left;
    width: 100%;
    background: #fff;
    padding: 30px 20px;
    text-align: center;
    border: 2px solid #d5d5d5;
    margin: 0 0 28px;
}

.our-dgf .cnt-block figure {
    width: 148px;
    height: 148px;
    border-radius: 100%;
    display: inline-block;
    margin-bottom: 15px;
}

.our-dgf .cnt-block img {
    width: 148px;
    height: 148px;
    border-radius: 100%;
}

.our-dgf .cnt-block h3 {
    color: rgba(207, 0, 15, 1);
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
}

.our-dgf .cnt-block h3 a {
    text-decoration: none;
    color: rgba(207, 0, 15, 1);
}

.our-dgf .cnt-block h3 a:hover {
    color: #337ab7;
}

.our-dgf .cnt-block p {
    color: #2a2a2a;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

.our-dgf .cnt-block .follow-us {
    margin: 20px 0 0;
}

.our-dgf .cnt-block .follow-us li {
    display: inline-block;
    width: auto;
    margin: 0 5px;
}

.our-dgf .cnt-block .follow-us li .fa {
    font-size: 24px;
    color: #767676;
}

.our-dgf .cnt-block .follow-us li .fa:hover {
    color: #025a8e;
}