<!--
    Filename: about.component.html
    Date: April 3rd, 2019
    Contributors: Puckager Team
    Description: Landing page for the website that is publicly accesible.
-->

<!-- Header -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">DGF Scouting</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">An innovative solution to help minor league hockey coaches evaluate recruits and build teams.</h2>
            <a *ngIf="!isLoggedIn()" [routerLink]="['/login']" class="btn btn-primary js-scroll-trigger">Get Started</a>
            <a *ngIf="isLoggedIn()" [routerLink]="['/recruits']" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
    </div>
</header>

<!-- Contact Section -->
<section class="our-dgf padding-lg">
    <div class="container">
        <div class="row heading heading-icon">
            <h2>Our Team</h2>
        </div>
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="../../assets/ryan_watson.jpeg" class="img-responsive" alt=""></figure>
                    <h3>Ryan Watson</h3>
                    <p>Full Stack Developer</p>
                    <p><i class="fa fa-lg fa-phone"></i> (416) 999-9999</p>
                    <p><i class="fa fa-lg fa-envelope"></i> ryan@dgf.com</p>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="../../assets/yayun_yang.png" class="img-responsive" alt=""></figure>
                    <h3>Yayun Yang</h3>
                    <p>Backend Developer</p>
                    <p><i class="fa fa-lg fa-phone"></i> (416) 999-9999</p>
                    <p><i class="fa fa-lg fa-envelope"></i> yayun@dgf.com</p>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="../../assets/heeyeong_kim.png" class="img-responsive" alt=""></figure>
                    <h3>Heeyeong Kim</h3>
                    <p>Backend Developer</p>
                    <p><i class="fa fa-lg fa-phone"></i> (416) 999-9999</p>
                    <p><i class="fa fa-lg fa-envelope"></i> heeyeong@dgf.com</p>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="../../assets/tyler_trafford.png" class="img-responsive" alt=""></figure>
                    <h3>Tyler Trafford</h3>
                    <p>AI Developer</p>
                    <p><i class="fa fa-lg fa-phone"></i> (416) 999-9999</p>
                    <p><i class="fa fa-lg fa-envelope"></i> tyler@dgf.com</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="container">
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="../../assets/dennis_k.png" class="img-responsive" alt=""></figure>
                    <h3>Dennis Kanzira</h3>
                    <p>Backend Developer</p>
                    <p><i class="fa fa-lg fa-phone"></i> (416) 999-9999</p>
                    <p><i class="fa fa-lg fa-envelope"></i> dennis@dgf.com</p>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="../../assets/gabriele_hunte.png" class="img-responsive" alt=""></figure>
                    <h3>Gabriele Hunte</h3>
                    <p>AI Developer</p>
                    <p><i class="fa fa-lg fa-phone"></i> (416) 999-9999</p>
                    <p><i class="fa fa-lg fa-envelope"></i> gabriele@dgf.com</p>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="../../assets/semy_jin.png" class="img-responsive" alt=""></figure>
                    <h3>Semy Jin</h3>
                    <p>Business Analyst</p>
                    <p><i class="fa fa-lg fa-phone"></i> (416) 999-9999</p>
                    <p><i class="fa fa-lg fa-envelope"></i> semy@dgf.com</p>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="../../assets/david_gwyn.jpeg" class="img-responsive" alt=""></figure>
                    <h3>David Gwyn</h3>
                    <p>Full Stack Developer</p>
                    <p><i class="fa fa-lg fa-phone"></i> (416) 999-9999</p>
                    <p><i class="fa fa-lg fa-envelope"></i> david@dgf.com</p>
                </div>
            </li>
        </ul>
    </div>
</section>