<div class="login-page">
    <div class="form">
        <div class="register-form">
            <img src="../../assets/logo.png" class="imageLogo">
            <input name="txtBoxRegisterUsername" type="text" placeholder="username" class="formTextbox">
            <input name="txtBoxRegisterPassword" type="password" placeholder="password" class="formTextbox">
            <input name="txtBoxRegisterEmailAddress" type="text" placeholder="email address" class="formTextbox">
            <button name="btnRegister" class="formButton"><fa name="user-plus"></fa> Register</button>
            <p class="message">Already registered? <a href="signin">Sign In</a></p>
        </div>
    </div>
</div>
