<div class="login-page">
    <div class="form">
<div class="register-form">
    <img src="../../assets/logo.png" class="imageLogo">

    <input type="text" name="txtBoxRegisterUsername" placeholder="username" class="formTextbox">

    <input type="password" name="txtBoxRegisterPassword" placeholder="password" class="formTextbox">

    <input type="text" name="txtBoxRegisterEmailAddress" placeholder="email address" class="formTextbox">

    <button name="btnRegister" class="formButton">Register</button>
        
    <p class="message">Already registered? <a href="signin">Sign In</a></p>
</div> 
</div>
</div>